body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: yellow;
  box-sizing: border-box;
}
/* Style the header links */
.header a {
  color: black;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 10px;
}
/* Change the background color on mouse-over */
.header a:hover {
  background-color: gray;
  border-radius: 50%;
  color: azure;
  -webkit-box-shadow: 5px 5px 20px 10px gray;
  box-shadow: 5px 5px 20px 10px gray;
}
.header > h5 {
  font-family: "Courier New", Courier, monospace;
}
.header > h5:hover {
  color: azure;
  background-color: gray;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 20px 10px gray;
  box-shadow: 5px 5px 20px 10px gray;
}
/* Div holding the Canvas */
.canvas-holder {
  display: flex;
  justify-content: center;
  padding: 50px 50px 50px 50px;
}

/* Game canvas */
#game-field {
  border-style: solid;
  background-color: gray;
  min-height: 250px;
  min-width: 500px;
}

.player1 {
  background-color: green;
}
.player2 {
  background-color: red;
}
.middle-box {
  background-color: black;
}
.middle-line .line {
  color: azure;
}
