body,
html {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  height: 100%;
}
.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(170, 134, 134);
  box-sizing: border-box;
}
/* Style the header links */
.header a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 22px;
  padding: 5px 5px;
}
/* Change the background color on mouse-over */
.header a:hover {
  background-color: rgb(15, 15, 15);
  border-radius: 50%;
  color: rgba(240, 247, 21);
  -webkit-box-shadow: 5px 5px 20px 10px rgb(15, 15, 15);
  box-shadow: 5px 5px 20px 10px rgb(15, 15, 15);
}
.header > h5 {
  font-size: 26px;
  font-family: "Courier New", Courier, monospace;
}
.header > h5:hover {
  color: rgba(240, 247, 21);
  background-color: rgb(15, 15, 15);
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 20px 10px rgb(15, 15, 15);
  box-shadow: 5px 5px 20px 10px rgb(15, 15, 15);
}
/* Div holding the Canvas */
.canvas-holder {
  display: flex;
  justify-content: center;
  padding: 50px 50px 50px 50px;
}

/* Game canvas */
#gc {
  color: rgba(240, 247, 21, 0.566);
  border-style: solid;
  background-color: gray;
  -webkit-box-shadow: 5px 5px 20px 10px rgba(240, 247, 21);
  box-shadow: 5px 5px 20px 10px rgba(240, 247, 21);
  width: 1280px;
  height: 720px;
}
